/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

/*keyframes start*/
@keyframes title {
	0% {color:purple;}
	100% {color: #28FF13;}
}

@keyframes begin {
	0% {color: blue;}
	100% {color: #28FF13}
}

@keyframes loseGame {
 	0% {color: red;}
 	100% {color: #28FF13;}

}

@keyframes titleBounce {
  from {
    margin-top: 100px;
    width: 100%; 
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

/*@keyframes slideIn {
  from {
    margin-top: 100px;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}*/
/*keyframes end*/

body {
  	background-color: #f2f2f2;
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
    font-size: 32px;
    color: #28FF13;
    padding-top: 150px;
    
	background-image: url(../images/phish.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 {
	font-size: 72px;
}

.gameText {
	text-align: center;
}

#playing {
    animation-name:;
}

#begin {
    padding-bottom: 100px;
}

#flavortext {
    padding-bottom: 50px;
}

#correctAnswer {
    text-align: center;
    padding-bottom: 50px;
}

#gameWonScreen {
    animation-name: title;
    text-align: center;
}

#incorrectLetterText {
    text-align: center;
    padding-top: 50px;
}

#incorrectLetter {
    text-align: center;
    padding-bottom: 50px;
}

/*animations linked to keyframes start*/
.topTextAnim1 {
    animation-name: title;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.topTextAnim2 {
	animation-name: begin, slideIn;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.bottomTextAnim1 {

}

.bottomTextAnim2 {

}

#gameOverDiv {
	font-size : 24px;
	animation-name: loseGame;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
    text-align: center;
}
/*animations linked to keyframes end*/